
.sidebar {
    width: 250px; 
    background: #f0f0f0;
    float: left; 
}

.profile-picture {
    margin-top: -20px; 
    position: relative; 
}

.profile-picture a {
    display: block; 
}

.profile-picture img {
    width: 100%; 
    border: 2px solid #fff; 
}


.profile-nav {
    list-style: none;
    padding: 0;
}

.profile-nav li {
    padding: 8px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.profile-nav li:first-child {
    border-top: none; 
}

.profile-nav li:last-child {
    border-bottom: none; 
}

